<!DOCTYPE html>
<html>
<head>
    <title>Mail Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <div class="logo">AI Mail Intelligence</div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/mails">Mail Dashboard</a></li>
        <li><a href="/tasks">Task Dashboard</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<div class="page-container">

<h1>Mail Dashboard</h1>

<div class="top-bar">
    <a href="/fetch-emails" class="fetch-btn">
        Fetch New Emails
    </a>
</div>

<table>

    <thead>
        <tr>
            <th>Sender</th>
            <th>Subject</th>
            <th>Important</th>
            <th>Deadline</th>
        </tr>
    </thead>

    <tbody>

        {% for email in emails %}

        <tr>
            <td>{{ email.sender }}</td>
            <td>{{ email.subject }}</td>

            <td>
                {% if email.is_important == 1 %}
                    <span class="badge high">Important</span>
                {% else %}
                    <span class="badge low">Normal</span>
                {% endif %}
            </td>

            <td>{{ email.deadline }}</td>
        </tr>

        {% endfor %}

    </tbody>

</table>

</div>

</body>
</html>